doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='styles.css')

  body
    div.container.listing-reg
      center
        h1= message
        br

        block content
