extends layout

block content
  center
    h2 Hi #{username}
    br
    p Connect to
      a(href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15") stackoverflow
    p
      a(href = "https://project-aw.herokuapp.com/logout") logout
    p
      a(href = "https://project-aw.herokuapp.com/visualization/Bar.html") Question count
    p
      a(href = "https://project-aw.herokuapp.com/visualization/scatterplot.html") Scroll data
    p
      a(href = "https://project-aw.herokuapp.com/visualization/eventdata_1.png") Time graph
