extends layout

block content
  center
    h2 Hi #{username}
    br
    p Connect to
      a(href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15") stackoverflow
    p
      a(href = "https://project-aw.herokuapp.com/logout") logout
    p
      a(href = "https://project-aw.herokuapp.com/visualization/Bar.html") Question count
    p
      a(href = "https://project-aw.herokuapp.com/visualization/scatterplot.html") Scroll data
    p
      a(href = "https://project-aw.herokuapp.com/visualization/eventdata_1.png") Time graph
    br
  h4 The bar graph represents number of questions posted by each user. Here, the x-axis represents the users and the y-axis represents the
    | number of questions posted. The data used is a subset of the data present in the database. It shows that user with username bbb likes to
    | post more questions than the other users.
  h4 The scatterplot shows the scroll data for two users aaa and bbb. The x-axis represents the x coordinate of the mouse and y-axis represents
    | y coordinate of the mouse. We can here observe that for user aaa the points on the graph are on the right side i.e., x values >500
    | and for user bbb x values < 500. We can infer that the user bbb is left-handed and uses the mouse towards the left end and user aaa is mostly
    | right handed
  h4 The time graph represents the user data for 1hour. The time(in seconds) is plotted on the x-axis and the events are plotted on the y-axis.
    | The events include, answering, scrolling, clicking, commenting etc. From the graph we can infer:
    | (i) user aaa likes to read more posts and answer to questions
    | (ii) user bbb likes to read more questions and comment
    | (iii) user ccc scrolls through pages, comments and asks questions.
